body{
    background-image: linear-gradient(lightblue, pink, lightgrey);
    height: 150vh;
}
.block{
    text-align: center;
}
label{
    font-family:'Times New Roman';
    font-size: 26px;
}
input{
    border-radius: 42px;
    background: #d6e7ec;
    font-size: 20px;
    height: 45px;
    width: 260px;
}
.btn-submit{
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
    font-size: 26px;
    background-color:  #c3dce4;;
    padding: 10px;
    padding-left: 65px;
    padding-right: 65px;
}
.btn-submit:hover{
    background-color: aqua;
}
.btn-back{
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
    font-size: 26px;
    background-color:  #c3dce4;;
    padding: 10px;
    padding-left: 65px;
    padding-right: 65px;
    margin-left: 1%;
}
.btn-back:hover{
    background-color: aqua;
}
.values{
    background: pink;
    height: 60px;
    width: 560px;
    margin: 20px;
    padding: 10px;
    padding-top: 0%;
    padding-bottom: 20px;  
    border: 2px solid black;
    border-radius: 32px;
}
.details{
    display: flex;
    flex-flow: row wrap;
    border: 3px solid black;
    margin: 80px;
    margin-left: 85px;
    background: #c3dce4;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Times New Roman';
    font-size: 22px;
    max-width: 100%;
    width: 1330px;
}